<div class="row">
    <div class="col-xs-12">
        <h2>{{category.name}} packages</h2>
        <p>{{category.description}}</p>

        <div ng-repeat="pkg in packages">
            <h3>{{pkg.name}}</h3>
            <p ng-bind-html="pkg.description"></p>
            <p ng-hide="pkg.url == null || pkg.url == ''"><a href="{{pkg.url}}">{{pkg.url}}</a></p>

            <div ng-repeat="inst in pkg.instances">
                <b>{{inst.version}}</b> for {{inst.operatingSystem.version}} {{inst.architecture.name}}
                &nbsp; (<span ng-repeat="license in inst.licenses">{{license.name}}<span ng-if="!$last">, </span></span>)
            </div>

            <p>Install by running command:<br>
            <code>mport install {{pkg.name}}</code>
            </p>

            <p>
                <uib-rating ng-model="ratings[pkg.name].average" max="max" ng-click="addRating(pkg.name, ratings[pkg.name].average)" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>
                  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
            </p>
        </div>

        <br>
    </div>
</div>