<div class="jumbotron">
    <div class="row">
        <div class="col-xs-8">
            <p class="lead">
               </p>
        </div>
        <div class="col-xs-4">
            <form name="bsearch" id="bsearch">
                  <fieldset>
                      <p>
                          <input type="text" name="bquery" id="bquery" value="" data-ng-model="term">
                          <button data-ng-click="search()" class="btn btn-primary btn-md">Find</button>
                      </p>
                  </fieldset>
            </form>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-xs-6">
            <h2>Categories</h2>
            <ul>
                <li ng-repeat="cat in categories">
                    <a ng-href="#!/category/{{cat.id}}">{{cat.name}}</a>
                </li>
            </ul>


        </div>

        <div class="col-xs-6">
            <h2>Operating Systems</h2>
            <ul>
                <li ng-repeat="o in os">
                    {{o.name}} {{o.version}}
                </li>
            </ul>
        </div>
    </div>
