<div class="jumbotron">
    <div class="row">
        <div class="col-xs-8">
            <p class="lead">
               </p>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-xs-6">
            <h2>Categories</h2>
            <ul>
                <li ng-repeat="cat in categories">
                    {{cat.name}}
                </li>
            </ul>


        </div>

        <div class="col-xs-6">
            <h2>Operating Systems</h2>
            <ul>
                <li ng-repeat="o in os">
                    {{o.name}} {{o.version}}
                </li>
            </ul>
        </div>
    </div>
