
    <div class="row top-padding">
        <div class="col-md-7 col-md-offset-1">

            <div data-ng-repeat="pkg in packages.content">
                <h3>{{ pkg.name }}</h3>
                <div>
                    <p ng-bind-html="pkg.description"></p>
                    <p ng-hide="pkg.url == null || pkg.url == ''"><a href="{{pkg.url}}">{{pkg.url}}</a></p>
                    <p>Categories: <span ng-repeat="category in pkg.categories">{{category.name}}<span
                        ng-if="!$last">, </span></span>
                    </p>
                    <p>Licenses: <span ng-repeat="inst in pkg.instances">
                    <span ng-repeat="license in inst.licenses">{{license.name}}<span ng-if="!$last">, </span></span>
                    </span>
                </p>

                    <p>Install by running command:<br>
                        <code>mport install {{pkg.name}}</code>
                    </p>

                    <p>
                        <span uib-rating ng-model="ratings[pkg.name].average" max="max" read-only="isReadonly"
                              ng-click="addRating(pkg.name, ratings[pkg.name].average)" on-hover="hoveringOver(pkg.name, value)"
                              on-leave="ratings[pkg.name].overStar = null" titles="['one','two','three', 'four', 'five']"></span>
                        <span class="label"
                              ng-class="{'label-warning': percent<30, 'label-info': ratings[pkg.name].percent>=30 && ratings[pkg.name].percent<70, 'label-success': ratings[pkg.name].percent>=70}"
                              ng-show="ratings[pkg.name].overStar && !isReadonly">{{ratings[pkg.name].percent}}%</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <uib-pagination data-ng-change="load()"
                        total-items="totalElements"
                        items-per-page="size"
                        data-ng-model="page"
                        class="pagination-sm"></pagination>
        </div>
    </div>
