
    <h2>Search</h2>
    
    <form name="bsearch" id="bsearch">
        <fieldset>
            <legend><strong>Search for</strong><br/></legend>
            <p>
                <input type="text" name="bquery" id="bquery" value="" data-ng-model="term">
                <button data-ng-click="search()" class="btn btn-primary btn-md">Find</button>
            </p>
        </fieldset>

        <div data-ng-repeat="pkg in results.content">
            <h3>{{ pkg.name }}</h3>
            <div>
                <p ng-bind-html="pkg.description"></p>
                <p ng-hide="pkg.url == null || pkg.url == ''"><a href="{{pkg.url}}">{{pkg.url}}</a></p>
                &nbsp; (<span ng-repeat="license in pkg.licenses">{{license.name}}</span>)
            </div>
        </div>
    </form>
