<h2>Search</h2>

<div class="row">
    <div class="col-md-offset-1 col-md-5">
        <form class="form-search form-inline">
            <div class="form-group">
                <input type="text" value="" id="keyword" data-ng-model="keyword" class="form-control input-large"
                       placeholder="Search">
            </div>

            <div class="form-group">
                <button id="btnSearch" class="btn btn-primary" data-ng-click="search()"> Search &nbsp;
                    <i class="fa fa-spinner fa-spin" data-ng-class="{'hidden':!processing}"></i></button>
            </div>
        </form>
    </div>
</div>

<div class="row top-padding" data-ng-hide="showResults">
    <div class="col-md-7 col-md-offset-1">
        <div data-ng-show="pageCount == 0" class="alert alert-warn" data-ng-cloak>
            <b>Search Returned 0 results.</b>
        </div>
    </div>
</div>

<div data-ng-show="showResults">
    <div class="row top-padding">
        <div class="col-md-7 col-md-offset-1">

            <div data-ng-repeat="pkg in searchResponse.content">
                <h3>{{ pkg.name }}</h3>
                <div>
                    <p ng-bind-html="pkg.description"></p>
                    <p ng-hide="pkg.url == null || pkg.url == ''"><a href="{{pkg.url}}">{{pkg.url}}</a></p>
                    <p>Categories: <span ng-repeat="category in pkg.categories">{{category.name}}<span
                            ng-if="!$last">, </span></span>
                    </p>
                    <p>Licenses: <span ng-repeat="inst in pkg.instances">
                    <span ng-repeat="license in pkg.licenses">{{license}}<span ng-if="!$last">, </span></span>
                    </span>
                    </p>

                    <div ng-repeat="inst in pkg.instances">
                        <b>{{inst.version}}</b> for os: {{inst.osVersion}} {{inst.architecture}}  cpe: {{inst.cpe}}
                    </div>

                    <p>Install by running command:<br>
                        <code>mport install {{pkg.name}}</code>
                    </p>

                    <p>
                        <uib-rating ng-model="ratings[pkg.name].average" max="max"
                                ng-click="addRating(pkg.name, ratings[pkg.name].average)" on-hover="hoveringOver(value)"
                                on-leave="overStar = null"></uib-rating>
                        <span class="label"
                              ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                              ng-show="overStar && !isReadonly">{{percent}}%</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <uib-pagination data-ng-change="realsearch()"
                        total-items="totals"
                        items-per-page="pageSize"
                        data-ng-model="page"
                        class="pagination-sm"></uib-pagination>
        </div>
    </div>
</div>