<!doctype html>
<html class="no-js" ng-app="wwwApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>MidnightBSD App Store</title>
    <meta name="description" content="Find applications for the MidnightBSD operating system." />
    <meta property="og:site_name" content="MidnightBSD App Store" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-language" content="en-us" />
    <link rel="stylesheet" href="static/styles/bootstrap.min.css" th:href="@{static/styles/bootstrap.min.css}" />
    <link rel="stylesheet" href="static/components/angular-ui/build/angular-ui.css" th:href="@{components/angular-ui/build/angular-ui.css}"/>
    <link rel="stylesheet" href="static/styles/main.css" th:href="@{static/styles/main.css}" />
</head>

<body data-ng-controller="wwwAppCtrl">

<!-- Header: Begin -->
<header>
    <div class="container">
    <div id="header" class="row">
        <div class="col-xs-12">
        <h1><a href="#!/"><img src="http://d2ibasrwfd3o7m.cloudfront.net/art/logo/MidnightBSDLogoText.png" alt="MidnightBSD" /></a></h1>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">App Store</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#/search">Search</a></li>
        </ul>
      </div>
    </nav>
    </div>
</header>
<!-- Header: End -->

<!-- Add your site or application content here -->
<div class="container" data-ng-view=""></div>

<!-- Footer: Begin -->
<div class="container">
<footer>
<div id="footer" class="row">
    <div class="col-xs-12">
    <p id="copyright">&#169; 2017 Lucas Holt. All rights reserved.</p>

    <p><a href="/#!/privacy" title="Privacy Policy">Privacy</a> |
        <a href="/#!/search" title="Search">Search</a> |
        <a href="/#!/sitemap" title="Sitemap">Sitemap</a></p>
    </div>
</div>
</footer>
</div>
<!-- Footer: End -->

<script type="text/javascript" src="static/components/jquery/dist/jquery.min.js" th:src="@{components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{js/bootstrap.min.js}"
        src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{components/angular/angular.js}"
        src="static/components/angular/angular.js"></script>
<script type="text/javascript"  th:src="@{components/angular-resource/angular-resource.js}"
        src="static/components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" th:src="@{components/angular-route/angular-route.js}"
        src="static/components/angular-route/angular-route.js"></script>
<script type="text/javascript"   th:src="@{components/angular-cookies/angular-cookies.js}"
        src="static/components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript"  th:src="@{components/angular-sanitize/angular-sanitize.js}"
        src="static/components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript"   th:src="@{components/angular-ui/build/angular-ui.js}"
        src="static/components/angular-ui/build/angular-ui.js"></script>
<script type="text/javascript"   th:src="@{components/angular-ui-bootstrap/src/pagination/pagination.js}"
        src="static/components/angular-ui-bootstrap/src/pagination/pagination.js"></script>


<!-- build:js scripts/scripts.js -->
<script type="text/javascript" src="static/scripts/app.js" th:src="@{scripts/app.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/wwwApp.js" th:src="@{scripts/controllers/wwwApp.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/main.js" th:src="@{scripts/controllers/main.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/category.js" th:src="@{scripts/controllers/category.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/privacy.js" th:src="@{scripts/controllers/privacy.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/search.js" th:src="@{scripts/controllers/search.js}"></script>
<script type="text/javascript" src="static/scripts/controllers/sitemap.js" th:src="@{scripts/controllers/sitemap.js}"></script>

<script type="text/javascript" src="static/scripts/services/CategoryService.js" th:src="@{scripts/services/CategoryService.js}"></script>
<script type="text/javascript" src="static/scripts/services/OperatingSystemService.js" th:src="@{scripts/services/OperatingSystemService.js}"></script>
<script type="text/javascript" src="static/scripts/services/PackageService.js" th:src="@{scripts/services/PackageService.js}"></script>
<!-- endbuild -->

</body>
</html>
