<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head th:replace="~{fragments/layout :: head('Search')}"></head>
<body>
<header th:replace="~{fragments/layout :: header('search')}"></header>

<div class="container">
    <h2>Search</h2>

    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <form class="form-search form-inline" th:action="@{/search}" method="get">
                <div class="form-group">
                    <input type="text" id="term" name="term" class="form-control input-large" placeholder="Search" th:value="${term}" />
                </div>

                <div class="form-group">
                    <button id="btnSearch" class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row top-padding" th:if="${termTooShort}">
        <div class="col-md-7 col-md-offset-1">
            <div class="alert alert-warning">
                <b>Please enter at least 3 characters to search.</b>
            </div>
        </div>
    </div>

    <div class="row top-padding" th:if="${!#strings.isEmpty(term) and !termTooShort and results.totalElements == 0}">
        <div class="col-md-7 col-md-offset-1">
            <div class="alert alert-warning">
                <b>Search returned 0 results.</b>
            </div>
        </div>
    </div>

    <div class="row top-padding" th:if="${results.totalElements > 0}">
        <div class="col-md-7 col-md-offset-1">
            <div th:each="pkg : ${results.content}"
                 th:replace="~{fragments/packages :: searchCard(${pkg}, ${ratings[pkg.name]})}"></div>
        </div>
    </div>

    <div class="row" th:if="${results.totalPages > 1}">
        <div class="col-md-10 col-md-offset-1">
            <ul class="pagination pagination-sm">
                <li th:classappend="${results.first} ? 'disabled'">
                    <a th:if="${!results.first}"
                       th:href="@{/search(term=${term}, page=${results.number - 1}, size=${results.size})}">Previous</a>
                    <span th:if="${results.first}">Previous</span>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, results.totalPages - 1)}"
                    th:classappend="${pageNumber == results.number} ? 'active'">
                    <a th:href="@{/search(term=${term}, page=${pageNumber}, size=${results.size})}"
                       th:text="${pageNumber + 1}">1</a>
                </li>
                <li th:classappend="${results.last} ? 'disabled'">
                    <a th:if="${!results.last}"
                       th:href="@{/search(term=${term}, page=${results.number + 1}, size=${results.size})}">Next</a>
                    <span th:if="${results.last}">Next</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: footer}"></div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
